<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/config.xsd">
    <default>
        <payment>
            <openpos_pay_cash>
                <active>1</active>
                <model>Zero1\PosPayCash\Model\PaymentMethod</model>
                <order_status>processing</order_status>
                <title>Amount in cash</title>
            </openpos_pay_cash>
        </payment>
    </default>
</config>
